body {
    margin:0px;
    padding:0px;
    font-family:Helvetica;
}

/* TOPO */

div#topo {
    padding:20px;        
}
div#topo img {
    height:80px;
    width:130px;
    padding:3px;
    border:1px solid;
    float:left;
    margin-right:30px;
}

/* MENU */

.container-menu {
    background:none repeat scroll 0 0 #EFEFEF;
}
table.menu tbody tr td table tbody tr td {
    padding:5px 15px;
}
table.menu a {
    text-decoration:none;
    color:#000;
}
table.menu a:hover {
    color:Red;
}
    /* PRINCIPAL */
    table.menu {
        background:none repeat scroll 0 0 #EFEFEF;
    }   
    
    /* SUB */
    .submenu {
        background:none repeat scroll 0 0 #EFEFEF;
        padding:5px;
    }


/* CONTEUDO */

div#conteudo {
    padding:0px 20px 10px 20px;    
}

/* GRIDVIEW */

table.registros {
    width:100%;
}
table.registros th, table.registros td {
    padding:5px;
}
table.registros th {
    background:none repeat scroll 0 0 #CCC;
}

/* FORMULARIO */

table.formulario {
    width:100%;
}
table.formulario tbody td.titulo{
    text-align:right;
}
table.formulario tfoot td.submits{
    text-align:center;
}

/* NAVEGACAO */
.navegacao {
    font-size:12px;
    border-bottom:1px solid;
    padding:5px;
    margin-bottom:15px;
}
.navegacao a {
    text-decoration:none;
}
.navegacao a:hover {
    text-decoration:underline;
}

/* LINKS */
a.lk-editar {
    color:blue;
    font-size:8px;
    text-decoration:none;
    margin-left:3px;
}