body 
{
    margin:0;
    padding:0;
    background:url('/Imagems/mario_bros.png') no-repeat center;
}
table
{
    border:medium dashed;
    float:right;
    padding:10px;
    width:auto;
}
.mensagem-erro
{
    color:Red;
}
.botao
{
}
