body {
    margin:0px;
    padding:0px;
    font-family:Helvetica;
}

/* TOPO */

div#topo {
    padding:20px;        
}
div#topo img {
    height:80px;
    width:130px;
    padding:3px;
    border:1px solid;
    float:left;
    margin-right:30px;
}

/* MENU */

ul#menu * {
    padding:0px;
    margin:0px;
}
ul#menu li a {
    text-decoration:none;
    color:#000;
}
ul#menu li.principal a:hover {
    color:Red;
}
    /* PRINCIPAL */
    ul#menu {
        list-style:none;
        background:none repeat scroll 0 0 #EFEFEF;
        overflow:hidden;
    }
    ul#menu li.principal{
        float:left;
        padding: 5px 15px 5px 15px;
    }
    ul#menu li.principal_over {
        background:none repeat scroll 0 0 #CCC !important;
    }
    
    /* SUB */
    ul#menu ul {
        list-style:none;
        display:none;
        position:absolute;
        background:none repeat scroll 0 0 #EFEFEF;
        margin:5px 0px 0px -15px;
    }
    ul#menu ul li{
        padding: 5px 15px 5px 15px;
    }


/* CONTEUDO */

div#conteudo {
    padding:0px 20px 10px 20px;    
}

/* GRIDVIEW */

table.registros {
    width:100%;
}
table.registros th, table.registros td {
    padding:5px;
}
table.registros th {
    background:none repeat scroll 0 0 #CCC;
}

/* FORMULARIO */

table.formulario {
    width:100%;
}
table.formulario tbody td.titulo{
    text-align:right;
}
table.formulario tfoot td.submits{
    text-align:center;
}